@model Do_An_PTUDW.Models.Contact
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main">
    <section id="contact" class="contact mb-5">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-12 text-center mb-5">
                    <h1 class="page-title">Contact us</h1>
                </div>
            </div>

            <div class="row gy-4">

                <div class="col-md-4">
                    <div class="info-item">
                        <i class="bi bi-geo-alt"></i>
                        <h3>Address</h3>
                        <address>A108 Adam Street, NY 535022, USA</address>
                    </div>
                </div><!-- End Info Item -->

                <div class="col-md-4">
                    <div class="info-item info-item-borders">
                        <i class="bi bi-phone"></i>
                        <h3>Phone Number</h3>
                        <p><a href="tel:+155895548855">+1 5589 55488 55</a></p>
                    </div>
                </div><!-- End Info Item -->

                <div class="col-md-4">
                    <div class="info-item">
                        <i class="bi bi-envelope"></i>
                        <h3>Email</h3>
                        <p><a href="mailto:info@example.com">info@example.com</a></p>
                    </div>
                </div><!-- End Info Item -->

            </div>

            <div class="form mt-5">
                <form id="contact_form" name="contact_form" method="post">
                    <div class="mb-5 row">
                        <div class="col">
                            <label asp-for="UserName" >UserName</label>
                            <input type="text" required maxlength="50" class="form-control" asp-for="UserName" id="UserName" name="first_name">
                        </div>

                        <div class="col">
                            <label asp-for="Email" for="email_addr">Email</label>
                            <input type="email" required maxlength="50" class="form-control" asp-for="Email" id="email_addr" name="email"
                                   placeholder="name@example.com">
                        </div>
                    </div>
                    <div class="mb-5 row">
                      
                        <div class="col">
                            <label asp-for ="Subject" for="subject_input">Subject</label>
                            <input type="tel" required maxlength="50" class="form-control" asp-for="Subject" id="phone_input" name="Phone"
                                   placeholder="Subject">
                        </div>
                    </div>
                    <div class="mb-5">
                        <label asp-for="Message" for="message">Message</label>
                        <textarea class="form-control" asp-for="Message" id="message" name="message" rows="5"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary px-4 btn-lg">Post</button>
                </form>
            </div><!-- End Contact Form -->

        </div>
    </section>

</main><!-- End #main -->
