﻿@using Do_An_PTUDW.Utilities;
@model Do_An_PTUDW.Models.Blog

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<main id="main" class="main">
    <div class="pagetitle">
        <h2>Thêm mới bài viết</h2>
    </div>

    <form asp-action="Create" method="post">
        <div class="form-row">

            <div class="form-group col-md-6">
                <label asp-for="IDMenu">Chọn mục</label>
                <select asp-for="IDMenu"
                        class="form-control"
                        asp-items="@(new SelectList(ViewBag.mnList, "Value","Text"))">
                </select>
                <span asp-validation-for="IDMenu" class="alert-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <label asp-for="Category">Chọn mục</label>
                <select asp-for="Category"
                        class="form-control"
                        asp-items="@(new SelectList(ViewBag.mnCategory, "Value","Text"))">
                </select>
                <span asp-validation-for="Category" class="alert-danger"></span>
            </div>

            <div class="form-group col-md-12">
                <label asp-for="Title">Title</label>
                <input type="text" class="form-control mb-3" asp-for="Title">
            </div>

            <div class="form-group col-md-12">
                <label asp-for="Author">Author</label>
                <input type="text" class="form-control mb-3" asp-for="Author">
            </div>

            <div class="form-group col-md-6">
                <label asp-for="Prioritize">Prioritize</label>
                <select asp-for="Prioritize" class="form-select" id="Prioritize">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="2">3</option>
                    <option value="2">4</option>
                </select>
            </div>

            <div class="form-group col-md-12">
                <label class="control-label">Images</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-success" type="button" onclick="openDialog()">Choose a pic</button>
                    </div>
                    <input type="text" class="form-control" asp-for="Images" id="file_input" aria-describedby="button-addon2">
                </div>
            </div>

            <div class="form-group col-md-12">
                <label asp-for="Contents">Contents</label>
                <textarea asp-for="Contents" class="form-control"></textarea>
            </div>

            <div class="form-group col-md-6 mt-3 mb-3">
                <label>
                    @Html.CheckBox("IsActive", false)
                    Hiển thị
                </label>
            </div>

            <div class="form-group d-none">
                <input asp-for="CreatedDate" class="form-control" value="@Functions.getCurrentDate()">
            </div>

            <div class="form-group d-none">
                <input asp-for="Category" class="form-control" value="1">
            </div>
@*
            <div class="form-group d-none">
                <input asp-for="Cat" class="form-control" value="1">
            </div*@>

            <div class="form-group d-none">
                <input asp-for="Prioritize" class="form-control" value="1">
            </div>

            <div class="form-group d-none">
                <input asp-for="Link" class="form-control" value="NULL">
            </div>
        </div>

        <a class="btn btn-lg btn-warning p-2 mr-5" href="javascript:history.back()">
            <i class="bi bi-arrow-left-circle"></i>Quay lại
        </a>
        <button type="submit" class="btn btn-lg btn-primary p-2">
            <i class="bi bi-file-plus-fill"></i> Lưu lại
        </button>

    </form>
</main>

@{
    var summerNote = new Do_An_PTUDW.Areas.Admin.Models.SummerNote("#Contents");
    <partial name="_SummerNote" model="summerNote" />
}